.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;

    mat-checkbox {
        margin-top: 1em;
    }
}

.complete-btn {
    margin-top: 2em;
}